In [1]:
import csv 
import pandas as pd
import numpy as np

In [14]:
df_of = pd.read_csv('../../GeneralDatasets/Csv/Adult_NotNA.csv')
df = pd.read_csv('../../focus_data/gansanitized/adult_sanitized_0.9875.csv')
df2 = pd.read_csv('./adult_sanitized_0.9875.csv')

In [15]:
col = 'race'
col_index = df2.columns.tolist().index(col)
df2.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,44.491077,Private,177792.48,5th-6th,8.062889,Married-civ-spouse,Protective-serv,Husband,Black,0,0.0,0.0,48.742780,United-States,0
1,33.449830,Private,187664.88,5th-6th,9.140199,Never-married,Farming-fishing,Not-in-family,White,1,0.0,0.0,45.423714,United-States,0
2,48.799340,Federal-gov,183387.36,HS-grad,9.437400,Married-civ-spouse,Adm-clerical,Husband,White,0,0.0,0.0,45.083870,United-States,1
3,43.986004,Private,183030.10,Bachelors,10.944422,Married-civ-spouse,Exec-managerial,Husband,White,1,0.0,0.0,48.943745,United-States,1
4,17.069460,Private,162516.28,HS-grad,8.532927,Never-married,Farming-fishing,Own-child,White,1,0.0,0.0,37.547226,United-States,0

In [16]:
ones = 0
zeros = 0
for i in df2.values:
    if i[col_index] == 'White':
        zeros = zeros+1
    else:
        ones = ones+1
total = ones+zeros

print(f"prop of zeros: {zeros/total} ")
print(f"prop of ones: {ones/total} ")
print(f"Total of entries: {total} ")

prop of zeros: 0.8886161602759719
prop of ones: 0.11138383972402813
Total of entries: 45222

In [11]:
(df['sex']==df2['sex']).count()

45222